@model Library.Web.Models.Helper.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

<h3>@Model.ErrorName</h3>
<hr />
<br />
<div class="text-dark">
    @if (Model.ErrorDescription != null)
    {
        <p style="color:blue">@Model.ErrorDescription</p>
    }
    else
    {
        
    }

    @if (Model.ActionRedirect != null && Model.ControllerRedirect != null)
    {
            @if (Model.ButtonName != null)
            {
            <a asp-action="@Model.ActionRedirect" asp-controller="@Model.ControllerRedirect" class="btn btn-primary">
            @Model.ButtonName
            </a>
            }

            else
            {
            <a asp-action="index" asp-controller="home" class="btn btn-primary">
                Home
            </a>
        }

    }
    else
    {
        <button type="button" asp-action="Index" asp-controller="home" class="btn btn-primary">
            Home
        </button>
    }
</div>